<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Event Registration</title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/darkly/bootstrap.min.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<h1 class="text-center">Welcome to our event</h1>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
					<div id="error" class="hidden alert alert-danger">
						<h3>Error</h3>
						<p id="error-msg"></p>
						<button class="btn btn-default">Clear</button>
					</div>
				</div>
				{{ yield }}
			</div>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script>
			(function($){
				"use strict";

				var timer = {
					init: 0,
					duration: 0,
					start: function() {
						this.init = new Date().getTime();
					},
					stop: function() {
						this.duration = new Date().getTime() - this.init;
					}
				};

				var restartButton = $("<button>").addClass("btn btn-primary").text("restart").on("click", function(){
					current();
					$(this).parent().removeClass("bg-danger");
					$(this).remove();
				});

				var emptyList = $("<li>").addClass("list-group-item").text("You will be the first!");

				function current() {
					timer.start();

					$.ajax({
						url: "/api/people",
						dataType: "json"
					}).complete(list);
				}

				function list(res) {
					var data, content = [];

					timer.stop();

					if (res.status != 200) {
						$("#timer").text("-").parent().parent().addClass("bg-danger").append(restartButton);
						return;
					}

					data = res.responseJSON;

					if (!data || !data.hasOwnProperty("people")) {
						$("#timer").text("-").parent().parent().addClass("bg-danger").append(res.responseText);
						return;
					}

					$.each(data.people, function(i, item){
						var date = new Date(item.date);
						var formatted = $("<span>").addClass("pull-right small").text(date.toLocaleString());
						var el = $("<li>").addClass("list-group-item").html([item.name, formatted]);
						content.push(el);
					});

					if (content.length > 0) $("#stage").html(content);
					if (content.length === 0) $("#stage").html(emptyList);
					$("#timer").text(timer.duration);

					setTimeout(current, 2000);
				}

				function submit(el) {
					var form = $(el);

					$("#error").addClass("hidden");

					$.ajax({
						url: "/api/people",
						method: "put",
						data: form.serialize()
					}).complete(function(res){
						form[0].reset();
						$("input:first").focus();
						if (res.status != 201) $("#error-msg").text(res.responseText).parent().removeClass("hidden");
					});
				}

				// on dom load; bind stuff and start the loop
				$(function(){
					$("form").on("submit", function(e){ e.preventDefault(); submit(this); });
					$("#error button").on("click", function(){
						$("#error").addClass("hidden");
					});

					$("input:first").focus();
					current();
				});
			}(window.jQuery));
		</script>
	</body>
</html>
